@model CocheAmigos2.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @ViewBag.Confirmation
    <fieldset>
        <legend>ResetPasswordModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordEmail)
            @Html.ValidationMessageFor(model => model.PasswordEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
